# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json

# bundler cache
_site
vendor
Gemfile.lock
_posts/
assets/img/images/

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json
